.footer {
  background-color: #242424;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-info {
  line-height: 1.6;
}

.footer-social {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-social a {
  color: #fff;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #4db6ac; /* tom esverdeado claro */
}
